<nav data-cy="navbar" class="navbar navbar-light navbar-expand-md bg-light mb-5" *ngIf="isAuthenticated()">
  <a class="navbar-brand logo p-3" routerLink="/product" (click)="collapseNavbar()">
    <span appTranslate="global.title" class="navbar-title">Wearecactus</span>
    <span class="navbar-version">{{ version }}</span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li class="mr-3">
        <!--        <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">-->
        <!--          <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>-->
        <!--          <span appTranslate="global.menu.account.logout">Sign out</span>-->
        <!--        </a>-->
        <button type="submit" (click)="logout()" class="btn btn-logout w-100 negrita" appTranslate="login.form.signOut">Sign out</button>
      </li>
      <a><img class="mr-1" style="width: 34px !important; height: auto" [src]="imgSourceEsp" alt="esp" (click)="changeLanguage('es')" /></a>
      <a><img class="mr-3" style="width: 34px !important; height: auto" [src]="imgSourceIng" alt="ing" (click)="changeLanguage('en')" /></a>
    </ul>
  </div>
</nav>
