.mdl-data-table {
  table-layout: fixed;
  width: 100%;
}
#my-table td,
th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

/* unrelated to responsive table css */
#my-table {
  margin-top: 24px;
}
.material-icons {
  vertical-align: -25%;
}
.mdl-data-table th,
td {
  text-align: left !important;
}
.center {
  text-align: center;
}

.btn-save {
  padding: 15px;
  background-color: white !important;
  border-color: #375bd2 !important;
  color: #375bd2 !important;
  width: 100%;
  margin-right: 20%;
}

.btn-save:hover {
  color: #665f61 !important;
  background-color: rgba(55, 91, 210, 0.2) !important;
  border-color: #665f61 !important;
}
